@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
}

.prose pre {
  background-color: #1e1e1e;
  padding: 1em;
  border-radius: 0.5em;
}

.prose code {
  background-color: #2d2d2d;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  color: #e5e7eb;
  font-family: 'JetBrains Mono', monospace;
}

.font-source-code-pro {
  font-family: 'Source Code Pro', monospace;
}
